<!-- Begin View Wrapper -->
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Add a Item <br/>
                <small>We are happy to extend our business by adding new item to our inventory</small>
            </h1>
        </div>
    </div>
    <form action="/Item/NewItem" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <input data-val="true" data-val-required="The Id field is required." id="Id" name="Id" type="hidden" value="0" />
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input class="form-control" data-val="true" data-val-length="The field Name must be a string with a maximum length of 50."
                        data-val-length-max="50" data-val-required="The Name field is required." id="Name" name="Name" type="text"
                        value="" />
                </div>
                <div class="form-group">
                    <label for="Qty">Qty</label>
                    <input class="form-control" data-val="true" data-val-required="The Qty field is required." id="Qty" name="Qty" type="text"
                        value="0" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="Description">Description</label>
                <textarea class="form-control" data-val="true" data-val-length="The field Description must be a string with a maximum length of 255."
                    data-val-length-max="255" id="Description" name="Description">
                    </textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <input type="submit" class="pull-right btn btn-primary" value="Save" />
            </div>
        </div>
    </form>
</div>
<!-- End View Wrapper -->